/* *{

} */
/* .container{
    display: flex;
    flex-direction: column;
    width: 30vw;
} */

body{
  /* margin:auto;
  padding: auto; */
  background-color: aqua;

}
.container{
    width: 80vw;
    margin: auto;
    border: 5px solid purple;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font: large;
    
}
h1{
    
    background-color: purple;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 8px purple;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
p {
    text-align: center;
    font-size: large;
}
input{
    border: none;
    background-color: white;
    border-radius: 2vh;
    height: 4vh;
    width:  15vw ;
    margin: 10px 0; 
    
}

button{
    background-color: purple;
    border-radius: 10px;
    border:  none;
     padding: 10px ;
    margin: 10px 0; 
    box-shadow: 5px 5px 3px purple;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}
button:hover{
    color: white;
}

h2{
   border: 1px solid  black;
    background-color: white;
    border-radius: 10px;
    
}
table{
    border: 1px solid black;
    padding: 10px;
    background-color: purple;
}
th,td{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: white;
}


